*{
    background-color: black;
    font-family: poppins;
    color: white;
}

body{
    margin-top: 25vh;
    text-align: center;
    font-size: 39px;
    align-items: center;
}
 #explore-btn {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 16px 40px;
      font-size: 18px;
      background: transparent;
      color: white;
      border: 2px solid white;
      cursor: pointer;
      z-index: 20;
      transition: 0.3s ease;
    }

    #explore-btn:hover {
      background-color: white;
      color: black;
    }

    #main-content {
      opacity: 0;
      display: none;
      font-size: 35px;
      transition: opacity 1s ease;
    }

.margin{
    margin-top: 20px;
}


.imgbox{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.box{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
    

}
.box img{
    width: 150px;
    height: 150px;
    border: 2px solid transparent;
  transition: transform 0.3s ease-in-out ;
}

.box img:hover{
    transform: scale(1);
   border: 2px solid white;
   border-radius: 19px;
}



@media (max-width: 393px) {
  .box{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
     align-items: center;

  }
}


 

    .fade-in {
      animation: fadeIn 0.5s ease forwards;
    }

    .fade-out {
      animation: fadeOut 0.5s ease forwards;
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
    }


    #intro-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: 10;
      opacity: 0;
      pointer-events: none;
    }
